In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2UM5QMHBHC90Q,5,0.0,0.0,N,Y
1,RF0D1LEIF6L7,4,0.0,0.0,N,Y
2,RM6YKIWQVNSY,1,6.0,6.0,N,Y
3,R1RL3L68ASPS36,4,0.0,0.0,N,Y
4,R1U4XFBFAG34CY,5,0.0,0.0,N,Y

In [4]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741100 entries, 0 to 1741099
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        object
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(2), object(4)
memory usage: 79.7+ MB

In [ ]:
#filter by votes
#To pick reviews that are more likely to be helpful

In [5]:
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5,20.0,23.0,N,Y
66,RSBELAIC899DO,5,46.0,51.0,N,Y
130,R2HCC4CJ59D225,4,43.0,43.0,N,Y
329,R39BVCCVPRV6F5,5,10.0,22.0,N,Y
609,RL9VF9WXHEHKR,5,35.0,36.0,N,Y

In [ ]:
#Find most helpful reviews
#To retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%

In [6]:
new_vine_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5,20.0,23.0,N,Y
66,RSBELAIC899DO,5,46.0,51.0,N,Y
130,R2HCC4CJ59D225,4,43.0,43.0,N,Y
609,RL9VF9WXHEHKR,5,35.0,36.0,N,Y
661,R1ZINLWUOLTZ46,1,39.0,45.0,N,N

In [ ]:
#rows where a review was written as part of the Vine program (paid), vine =='Y'.

In [7]:
vine_reviews = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9436,R3QIQRG107AP19,5,38.0,41.0,Y,N
14472,R1ZNBHGCYE8VN1,5,175.0,181.0,Y,N
25527,R1BNZJ9IKGRBC2,4,63.0,70.0,Y,N
90707,R2IXTN4PBRHBO2,5,19.0,24.0,Y,N
93535,R32AOW3L09SYMQ,5,29.0,34.0,Y,N

In [ ]:
#rows where the review was not part of the Vine program (unpaid), vine == 'N'.

In [8]:
not_vine_reviews = new_vine_df[new_vine_df['vine'] == 'N']
not_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5,20.0,23.0,N,Y
66,RSBELAIC899DO,5,46.0,51.0,N,Y
130,R2HCC4CJ59D225,4,43.0,43.0,N,Y
609,RL9VF9WXHEHKR,5,35.0,36.0,N,Y
661,R1ZINLWUOLTZ46,1,39.0,45.0,N,N

In [ ]:
#5-Star Review Analysis:
#Comparing the vine and non-vine program

In [9]:
count_vine = len(vine_reviews)
count_vine

285

In [10]:
count_nonvine = len(not_vine_reviews)
count_nonvine

31545

In [ ]:
#PAID AND UNPAID 5 STAR REVIEWS

In [11]:
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

158

In [12]:
max_rating_nonvine = len(not_vine_reviews[not_vine_reviews['star_rating']==5])
max_rating_nonvine

14152

In [ ]:
# 5 STAR REVIEWS BY PERCENTAGE:

In [13]:
max_rating_vine/count_vine

0.5543859649122806

In [14]:
max_rating_nonvine/count_nonvine

0.44862894278015536

In [ ]:
#further ANALYSIS:

In [ ]:
#FIND THE AVERAGE OF 5 STAR RATINGS(PAID AND UNPAID)